<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
		<key>Orange County - North Surfing</key>
        <dict>
            <key>Seal Beach Pier</key>
            <array>
                <integer>285</integer>
                <key>/Seal-Beach-Pier-Surf-Report/285/</key>
            </array>
            <key>Huntington Pier</key>
            <array>
                <integer>286</integer>
                <key>/Huntington-Pier-Surf-Report/286/</key>
            </array>
            <key>The Wedge</key>
            <array>
                <integer>287</integer>
                <key>/The-Wedge-Surf-Report/287/</key>
            </array>
            <key>Newport Beach</key>
            <array>
                <integer>665</integer>
                <key>/Newport-Beach-Surf-Report/665/</key>
            </array>
            <key>13th Street</key>
            <array>
                <integer>2599</integer>
                <key>/13th-Street-Surf-Report/2599/</key>
            </array>
            <key>7th Street</key>
            <array>
                <integer>2593</integer>
                <key>/7th-Street-Surf-Report/2593/</key>
            </array>
            <key>Blackies</key>
            <array>
                <integer>2575</integer>
                <key>/Blackies-Surf-Report/2575/</key>
            </array>
            <key>Dolphin Street</key>
            <array>
                <integer>2592</integer>
                <key>/Dolphin-Street-Surf-Report/2592/</key>
            </array>
            <key>Santa Ana River Jetties</key>
            <array>
                <integer>2577</integer>
                <key>/Santa-Ana-River-Jetties-Surf-Report/2577/</key>
            </array>
            <key>Surfside Jetty</key>
            <array>
                <integer>2594</integer>
                <key>/Surfside-Jetty-Surf-Report/2594/</key>
            </array>
            <key>Bolsa Chica</key>
            <array>
                <integer>3797</integer>
                <key>/Bolsa-Chica-Surf-Report/3797/</key>
            </array>
            <key>Goldenwest</key>
            <array>
                <integer>4039</integer>
                <key>/Goldenwest-Surf-Report/4039/</key>
            </array>
        </dict>
        
    </dict>
</plist>
